.button {
  display: flex;
  justify-content: center;
  padding: 0 8px 16px;

  a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    color: $primary-font-color;
    font-weight: 700;
    font-size: 13px;
  }

  &--sand {
    a {
      background-color: $primary-sand;

      &:hover {
        background-color: $primary-font-color;
        color: $primary-sand;
        transition: 0.3s;
      }
    }
  }

  &--blue {
    a {
      background-color: $primary-blue;
      color: $primary-font-color-inverse;

      &:hover {
        background-color: $primary-font-color-inverse;
        color: $primary-blue;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .button {
    a {
      font-size: 14px;
    }
  }
}
