.footer {
  background-color: $primary-blue;
  padding-top: 28px;
  color: $primary-font-color-inverse;
  border-top: 1px solid $primary-font-color;

  a:hover {
    svg {
      fill: $primary-font-color;
      transition: 0.3s;
    }

    color: $primary-font-color;
    transition: 0.3s;
  }

  &__social {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;

    svg {
      height: 30px;
      width: 30px;
      fill: $primary-font-color-inverse;
    }

    a {
      padding: 8px;
    }
  }

  &__links {
    font-size: 20px;
    padding-bottom: 24px;
    text-align: center;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      text-transform: capitalize;
    }
  }

  &__link {
    padding: 24px;
  }

  &__links-secondary {
    display: none;
  }

  &__legal {
    font-size: 12px;
    text-align: center;
    padding-bottom: 12px;
    max-width: $max-width-mobile;
    margin: auto;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .footer {
    &__legal {
      max-width: $max-width-tablet;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .footer {
    &__links {
      display: flex;
      text-align: left;
      justify-content: center;
    }

    &__link {
      text-align: left;
      padding-bottom: 24px;
    }

    &__link-primary {
      padding-bottom: 16px;
    }

    &__links-secondary {
      display: block;
      font-size: 12px;
      text-align: left;
    }

    &__link-secondary {
      padding-bottom: 12px;
    }
  }
}
