.form {
  color: $primary-font-color;

  &--color-inverse {
    color: $primary-font-color-inverse;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: $primary-font-color-inverse !important;
    }

    .form__textarea:focus,
    .form__input:focus {
      border-bottom: 1px solid $primary-font-color;
      transition: 0.3s;
    }
  }

  &__wrapper {
    padding: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 28px;
  }

  &__label {
    padding-bottom: 12px;
    font-weight: 500;
  }

  &__input,
  &__textarea,
  &__select {
    border-bottom: 1px solid;
    font-size: 14px;
    height: 20px;
    width: 60%;
    color: inherit;
    text-align: center;
    padding: 4px;

    &:focus {
      border-bottom: 1px solid $primary-font-color-inverse;
      transition: 0.3s;
    }
  }

  &__select {
    height: auto;
  }

  &__textarea {
    resize: none;
    height: auto;
  }

  &__required {
    color: red;
    margin-left: 2px;
  }
}

@media only screen and (min-width: $tablet) {
  .form {
    &__input,
    &__textarea,
    &__select {
      width: 100%;
      text-align: left;
    }

    &__wrapper {
      margin: 0 auto;
      width: 60%;
    }

    &__field {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 12px;

      &--half-width {
        width: calc(50% - 24px);
      }
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
