.notification-bar {
  display: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-height: 30px;
  padding: 12px 20px;
  overflow-x: hidden;
  z-index: 2;
  background-color: $primary-blue;
  justify-content: center;
  align-items: center;
  color: $primary-font-color-inverse;
  line-height: 24px;

  p {
    padding-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
      transition: 0.3s;
    }
  }

  &__close {
    position: absolute;
    right: 20px;

    svg {
      height: 20px;
      width: 20px;

      &:hover {
        opacity: 0.6;
        transition: 0.3s;
      }
    }
  }

  &.active {
    display: flex;
  }
}
