.contact {
  padding: 0;

  &__form {
    background-color: $primary-blue;
    padding: 20px;
    color: $primary-font-color-inverse;
  }

  &__details {
    background-color: $primary-sand;
    padding: 20px;
  }

  &__address {
    p {
      padding-bottom: 4px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .contact {
    display: flex;

    &__form {
      width: 70%;
    }

    &__details {
      width: 30%;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .contact {
    &__form {
      width: 80%;
    }

    &__details {
      padding: 28px;
      width: 20%;
    }
  }
}
