// Fonts
$primary-font: "Monteserrat";
$secondary-font: "Montaga";

// Font Colours
$primary-font-color: #5b5b5b;
$primary-font-color-inverse: white;
$secondary-font-color: black;

// Colours
$primary-pink: #ffe9f3;
$primary-blue: #467599;
$primary-sand: #eacdc2;
