// Fonts
$primary-font: "Montserrat";
$secondary-font: "Montaga";

// Font Colours
$primary-font-color: #5b5b5b;
$primary-font-color-inverse: white;
$secondary-font-color: black;

// Colours
$primary-pink: #ffe9f3;
$primary-blue: #467599;
$primary-sand: #eacdc2;
$light-grey: #c4c4c4;

// Breakpoints
$tablet: 767px;
$desktop: 1172px;

// Dimensions
$max-width-mobile: 330px;
$max-width-tablet: 740px;
$header-nav-height: 80px;

// Transitions
$hover-transition: 0.3s;
