* {
  padding: 0;
  margin: 0;
}

html {
  font-family: $primary-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
}

main {
  &#home {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      text-align: center;
    }
  }
}

h1,
h2 {
  padding-bottom: 28px;
}

p {
  padding-bottom: 20px;
}

section {
  padding-top: 36px;
  padding-bottom: 20px;
}

.section__wrapper {
  max-width: $max-width-mobile;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.align-center {
  text-align: center;
}

.bgBlue {
  background-color: $primary-blue;
  color: $primary-font-color-inverse;
}
