* {
  padding: 0;
  margin: 0;
}

html {
  font-family: $primary-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
}

main {
  text-align: center;

  ul,
  ol {
    list-style: inside;
  }

  ul {
    padding-bottom: 8px;
  }

  li {
    padding-bottom: 12px;
  }
}

h1,
h2 {
  padding-bottom: 36px;
  text-align: center;
}

h3,
h4,
h5 {
  padding-bottom: 28px;
}

h3 {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-font-color;
  }
}

p {
  padding-bottom: 20px;
}

section {
  padding-top: 36px;
  padding-bottom: 20px;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

svg {
  display: block;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__wrapper {
  max-width: $max-width-mobile;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.text-align-center {
  text-align: center;

  ul,
  ol {
    list-style: inside;
  }
}

.text-align-left {
  text-align: left;
}

.bgBlue {
  background-color: $primary-blue;
  color: $primary-font-color-inverse;
}

.bgSand {
  background-color: $primary-sand;
}

.bgPink {
  background-color: $primary-pink;
}

.instagram-post {
  padding-bottom: 12px;
  width: 100%;
}

.fixed-position {
  position: fixed;
}

.noscroll {
  overflow: hidden;
}

@media only screen and (min-width: $tablet) {
  .section__wrapper {
    max-width: $max-width-tablet;
  }
}

@media only screen and (min-width: $desktop) {
  main {
    text-align: left;
    ul,
    ol {
      list-style-position: outside;
      margin-left: 32px;
    }

    &#home {
      text-align: center;
    }
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3:after {
    left: 0;
    transform: translate(0, 0);
  }

  .section__wrapper {
    max-width: $max-width-desktop;

    &--content {
      max-width: $section-content-max-width;
    }
  }
}
