* {
  padding: 0;
  margin: 0;
}

html {
  font-family: $primary-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
}

main {
  text-align: center;

  ul,
  ol {
    list-style: inside;
  }

  ul {
    padding-bottom: 8px;
  }

  li {
    padding-bottom: 12px;
  }
}

h1,
h2 {
  padding-bottom: 36px;
  text-align: center;
}

h3,
h4,
h5 {
  padding-bottom: 28px;
}

h3 {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-font-color;
  }
}

p {
  padding-bottom: 20px;
}

section {
  padding-top: 36px;
  padding-bottom: 20px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: inherit !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

svg {
  display: block;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__wrapper {
  max-width: $max-width-mobile;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  &--desktop-only {
    display: block;
  }

  &--align-items-center {
    align-items: center;
  }

  &--justify-content-center {
    justify-content: center;
  }
}

.text-align-center {
  text-align: center;

  ul,
  ol {
    list-style: inside;
  }
}

.text-align-left {
  text-align: left;
}

.bgBlue {
  background-color: $primary-blue;
  color: $primary-font-color-inverse;
}

.bgSand {
  background-color: $primary-sand;
}

.bgPink {
  background-color: $primary-pink;
}

.instagram-post {
  padding-bottom: 12px;
  width: 100%;
}

.fixed-position {
  position: fixed;
}

.noscroll {
  overflow: hidden;
}

.timetable {
  &__class-title {
    padding-bottom: 8px;
  }

  &__day {
    padding-bottom: 12px;
  }
}

.term-dates {
  background-color: $primary-pink;
  padding: 16px;
  border-radius: 16px;
  width: 80%;
  margin: 0 auto;

  &__term-title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
  }
}

#home-logo {
  width: 300px;
  height: 200px;
  padding-bottom: 24px;
}

#home-rad,
#home-oz-tots {
  width: 172px;
  height: 100px;
  padding: 16px;
}

@media only screen and (min-width: $tablet) {
  .section__wrapper {
    max-width: $max-width-tablet;
  }
}

@media only screen and (min-width: $desktop) {
  main {
    text-align: left;
    ul,
    ol {
      list-style-position: outside;
      margin-left: 32px;
    }

    &#home {
      text-align: center;
    }
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3:after {
    left: 0;
    transform: translate(0, 0);
  }

  .section__wrapper {
    max-width: $max-width-desktop;

    &--content {
      max-width: $section-content-max-width;
    }
  }

  .flex-container {
    &--desktop-only {
      display: flex;
    }
  }

  .timetable {
    width: 70%;

    &__wrapper {
      display: flex;
      // justify-content: center;
      flex-wrap: wrap;
    }

    &__day {
      padding: 16px;
    }
  }

  .term-dates {
    text-align: center;
    width: 25%;
    max-height: 350px;
  }

  #home-logo {
    width: 450px;
    height: 300px;
  }
}

// Page CSS Imports

@import "../../styles/contact.scss";
