.uniform-card {
  background-color: $primary-sand;
  text-align: center;
  margin-bottom: 20px;
  height: calc(100% - 24px);

  &__wrapper {
    padding: 20px;
  }

  &__image {
    height: 250px;
  }
}

@media only screen and (min-width: $desktop) {
  .uniform-card {
    margin: 12px;

    h3:after {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    ul,
    ol {
      list-style-position: inside;
      margin-left: 0;
    }
  }
}
