.gallery {
  width: 100%;
  &__item {
  }
}

@media only screen and (min-width: $tablet) {
  .gallery {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 40%;
      padding: 0 24px;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .gallery {
    justify-content: center;

    &__item {
      width: 28%;
      padding: 0 8px;
    }
  }
}
