.image-content {
  &__image {
    height: 375px;
    margin: 0 auto;

    &--circle {
      width: 220px;
      height: 220px;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        border-radius: 50%;
      }
    }

    &--square {
      width: 220px;
      height: 220px;
    }
  }

  &__content {
    &--pink {
      background-color: $primary-pink;
    }

    &__wrapper {
      padding-top: 16px;
      padding-bottom: 16px;
      max-width: $max-width-mobile;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .image-content {
    display: flex;

    &__image {
      max-height: 700px;
      width: 50%;

      &--circle {
        width: 260px;
        height: 260px;
      }

      &--square {
        width: 320px;
        height: 320px;
      }
    }

    &__content {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--padded-bottom {
      padding-bottom: 48px;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .image-content {
    &__image {
      &--circle {
        width: 300px;
        height: 300px;
      }

      &--square {
        width: 400px;
        height: 400px;
      }
    }

    &__content {
      &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 550px;
      }
    }
  }
}
