.image-content {
  &__image {
    height: 375px;
  }

  &__content {
    &--pink {
      background-color: $primary-pink;
    }

    &__wrapper {
      padding-top: 32px;
      padding-bottom: 16px;
      max-width: $max-width-mobile;
      margin: auto;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .image-content {
    display: flex;

    &__image {
      max-height: 700px;
      width: 50%;
    }

    &__content {
      width: 50%;
    }
  }
}
